<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CryptoLens</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/main.css">
        <script src='https://cdn.plot.ly/plotly-2.35.2.min.js'></script>

        <!-- <script src="/chart.js" defer></script> -->

    </head>

    <body>
        <h1>OHLC Chart</h1>

        <!-- THE FOLLOWING DOES NOT WORK -->
        <script>
            if (locals.result) {
                let resultInScript = JSON.parse("<%= JSON.stringify(result) %>");
                const trace = {
                    x: resultInScript.x,
                    open: resultInScript.open,
                    high: resultInScript.high,
                    low: resultInScript.low,
                    close: resultInScript.close,
                    type: "ohlc",
                    increasing: { line: { color: "#17BECF" } },
                    decreasing: { line: { color: "#7F7F7F" } },
                };

                const layout = {
                    title: "OHLC Chart",
                    dragmode: "zoom",
                    xaxis: {
                        title: "Date",
                        type: "date",
                    },
                    yaxis: {
                        title: "Price",
                        type: "linear",
                    },
                };

                Plotly.newPlot("ohlc-result", [trace], layout);
            }
        </script>

        <div id="ohlc-result-div"><!-- Plotly chart will be drawn inside this DIV --></div>
    </body>

</html>